h1 {
    font-size: 3.6rem;
    text-align: center;
    margin-block-end: 30px;
}
h2 {
    margin-inline-start: -3vw;
    margin-block-end: 20px;
}
h3 {
    font-size: 2rem;
    font-weight: 600;
    margin-block: 15px 5px;
}
p {
    font-size: 1.8rem;
    margin-block-start: 5px;
    margin-inline-start: 10px;
}
section {
    padding-inline: 10vw;
    margin-block-end: 30px;
}
main ul {
    list-style-type: disc;
    padding-inline-start: 30px;
    font-size: 1.8rem;
}
main ul li {
    margin-block-end: 10px;
}