@import "reset.css";

html {
    font-size: 10px;
    height: 100%;
}
body {
    background-color: #000;
    color: #fff;
    height: 100%;
    position: relative;
    /* display: grid;
    grid-template-rows: 100px auto 100px; */
}
header, main, footer {
    max-width: 1024px;
    width: 100%;
    margin-inline: auto;
}
header {
    position: fixed;
    top: 0;
    left: calc(50% - 512px);
    z-index: 1;
    background-color: #000;
    border-bottom: 1px solid #fff;
    display: grid;
    grid-template-columns: 250px auto;
    justify-content: space-between;
    padding-inline: 20px;
    height: 100px;
    align-items: center;
}
#navHomeLink {
    font-size: 3.6rem;
    text-decoration: none;
}
header ul li {
    display: inline-block;
    font-size: 2rem;
    margin-inline: 20px;
}
header a {
    color: #fff;
}

main {
    box-sizing: border-box;
    padding: 130px 20px;
    /* position: relative; */
}
h2 {
    font-size: 2.6rem;
}

footer {
    position: fixed;
    bottom: 0;
    left: calc(50% - 512px);
    z-index: 1;
    background-color: #000;
    border-top: 1px solid #fff;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    padding-inline: 20px;
    height: 100px;
    align-items: center;
}
footer h3 {
    font-size: 2rem;
}
footer ul li {
    display: inline-block;
    font-size: 1.6rem;
    margin-inline: 20px;
}
footer a {
    color: #fff;
}
footer img {
    width: 30px;
}
@media screen and (max-width: 1024px) {
    header, footer {
        left: 0;
    }
}