@import "main.css";

h1 {
    font-size: 3.6rem;
    text-align: center;
    margin-block-end: 30px;
}
h2 {
    margin-inline-start: -3vw;
    margin-block-end: 20px;
}
h3 {
    font-size: 2rem;
    font-weight: 600;
    margin-block: 15px 5px;
}
p {
    font-size: 1.8rem;
    margin-block-start: 5px;
    margin-inline-start: 10px;
}
section {
    padding-inline: 10vw;
    margin-block-end: 30px;
}
ul {
    list-style-type: disc;
    padding-inline-start: 30px;
    font-size: 1.8rem;
}
ul li {
    margin-block-end: 10px;
}
#skills ul {
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 40px;
}
article {
    margin-block: 30px;
}
.moreBtn {
    display: none;
}
main a {
    font-size: 1.8rem;
    color: #fff;
}
article.less {
    display:grid;
    grid-template-columns: 105px auto;
    gap: 10px;
}
.less h3, .less p {
    align-self: start;
    margin-block-start: 0;
}
.less .lessHide {
    display: none;
}
.less .moreBtn {
    display: block;
}
.less .lessBtn {
    display: none;
}