@import "main.css";

h1 {
    font-size: 3.6rem;
    text-align: center;
}
h2 {
    margin-inline-start: -20px;
}
h3 {
    font-size: 2rem;
    font-weight: 600;
    margin-block-end: 5px;
}
p {
    font-size: 1.8rem;
    margin-block-start: 5px;
}
section {
    padding-inline: 30px;
}
ul {
    list-style-type: disc;
    padding-inline-start: 15px;
    font-size: 1.8rem;
}
ul li {
    margin-block-end: 10px;
}
#skills ul {
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 40px;
}